@import "colors.css";

/* Main  */
.main {
  height: 100%;
  width: 100%;
  position: relative;
}

/* Background */
.main .background {
  background-color: var(--sky-bg) !important;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 390px;
}

.main .background .sakura-tree-btn {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  position: relative;
  top: 18px;
}

/* Sakura Leaf */

.inner-leaf-container {
  position: absolute;
  z-index: 999;
}

.inner-leaf-container .sakura-leaf {
  object-fit: cover;
}
